---
dependency:
  name: galaxy
driver:
  name: docker
platforms:
  - name: ubuntu-vm
    image: ubuntu:latest
    pre_build_image: true
    privileged: true
  - name: oraclelinux-vm
    image: oraclelinux:8
    pre_build_image: true
    privileged: true
provisioner:
  name: ansible
  env:
    ANSIBLE_PIPELINING: "true"
  playbooks:
    prepare: prepare.yml
  inventory:
    group_vars:
      all:
        vector_version: "0.34.0"
        vector_start_service: false
verifier:
  name: ansible
scenario:
  test_sequence:
    - dependency
    - cleanup
    - destroy
    - syntax
    - create
    - prepare
    - converge
    - idempotence
    - side_effect
    - verify
    - cleanup
    - destroy